<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Geolocation on BA_WIFI rona"></Label>
</ActionBar>

<GridLayout class="page">
    <StackLayout>
        <Label text="Latitude: {{ latitude }}"></Label>
        <Label text="Longitude: {{ longitude }}"></Label>
        <Button class="btn btn-primary btn-active" text="Update" (tap)="updateLocation()"></Button>
        <Button class="btn btn-primary btn-active" text="Watch Location" (tap)="startWatchingLocation()"></Button>
        <Button class="btn btn-primary btn-active" text="Stop Watching" (tap)="stopWatchingLocation()"></Button>
    </StackLayout>
</GridLayout>